@charset "utf-8";

@import url(reset.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


/**********************
font
***********************/
.txt12 {font-size:12px !important;}
.txt14 {font-size:14px !important;}
.txt16 {font-size:16px !important;}
.txt18 {font-size:18px !important;}
.txt24 {font-size:24px !important; letter-spacing:-0.05rem;}
.txt40 {font-size:40px !important; letter-spacing:-0.055rem;}
.fw-l{font-weight:300 !important;}
.fw-m{font-weight:500 !important;}
.fw-b{font-weight:600 !important;}


/**********************
color 
***********************/
.white{color:#fff;}
.black{color:#000;} 
.lt-black{color:#222}
.puple{color:#5642bf;}
.gray{color:#666;}

.bg-white{background-color:#fff;}
.bg-black{background-color:#000;}
.bg-lt-gray{background-color:#f8f8f8;}
.bg-gray{background-color:#666;}
.bg-puble{background-color:#715deb;}


/**********************
header
***********************/
.header {width:100%; position:absolute; left:0; top:0; color:#fff; background-color:transparent; z-index:5; }
.header .top-wrap,.header .gnb-wrap {width:1136px; margin:0 auto; z-index:5;}
.header .top-wrap{position:relative; height:50px; padding:12px 0; top:10px;}
.header .top-wrap .logo{font-size:0; position:absolute; top:60px;}
.header .top-wrap .logo a{width:170; height:30px;}
.header .top-wrap .logo a img{width:170; height:30px;}
.header .top-wrap .right-top{text-align: right;}
.header .top-wrap .right-top a{margin-right:5px; padding:0 10px;}
.header .top-wrap .right-top a:last-child:after{border: none;}
.header .top-wrap .right-top a:after{content:''; position:absolute; top:26%; padding-left:15px; height:15px; border-right: 1px solid rgba(255,255,255,0.2);}
.header .gnb-wrap{ position: relative; z-index: 10; padding-left:170px; text-align:center; border-bottom:1px solid rgba(255,255,255,0.2);}
.header .gnb-wrap ul{display:inline-block;}
.header .gnb-wrap ul li{float:left;}
.header .gnb-wrap ul li a{padding:20px 20px 22px; font-weight: 500; font-size:20px}
.header .gnb-wrap .qnb {width:50px; height:50px; float:right; padding-top:20px;}
.header .gnb-wrap .qnb span:before,
.header .gnb-wrap .qnb span:after,
.header .gnb-wrap .qnb button:after {content:''; position:absolute; top:60%;right:10px; width:18px; height:0; border:1px solid #fff}
.header .gnb-wrap .qnb span:before {top:30%;}
.header .gnb-wrap .qnb span:after {bottom:0;}


/**********************
content
***********************/
#content {position:relative; width:100%;}
#content section {position:relative;}
#content section .inner{ width:1136px; margin:0 auto;  padding-top:50px; padding-bottom:64px;}

/*******************
section01
*******************/
.section01{width:100%; height:780px; margin:0 auto; position:relative;}
.section01 .main-visual{ width:100%; height:100%; background: url(./images/main_photo_1.jpg) no-repeat center top; }
.section01 .main-wrap{position:absolute; left:50%; margin-left:-30%; bottom:100px;}
.section01 .main-wrap .main-srch {position:relative; padding-bottom:5px;}
.section01 .main-wrap .input-wrap {width:465px; margin:0; color:#fff;}
.section01 .main-wrap .input-srch { width:100%; height:50px; border:3px solid #fff; border-radius:0; background-color:rgba(0, 0, 0, 0.2); color:#fff;}
.section01 .main-wrap .input-srch::placeholder{font-size:15px; color:#fff; padding-left:10px;}
.section01 .main-wrap .input-btn {position:absolute; right:0; top:-3px; width:54px; height:54px; background:transparent url(./images/ico_gnb_srch_w.svg) no-repeat center center;}
.section01 .main-wrap .input-btn span{font-size:0;}
.section01 .main-wrap .tag {padding-top:10px;}
.section01 .main-wrap .tag a {display:inline-block; margin-right:11px; padding:2px; color:rgba(255, 255, 255, .5); font-size:16px;}
.section01 .vs-simbol {position:absolute; right:0; bottom:0; width:250px; height:260px;}
.section01 .vs-simbol:before,
.section01 .vs-simbol:after {content:''; width:64px; height:260px; position:absolute; right:0;  background-color:#715deb;}
.section01 .vs-simbol:before {right:64px; width:200px; height:65px;}

/*******************
section02
*******************/
.section02{width:100%; height:100%; margin:0 auto; position:relative;}
.cs-menu{width:100%; height:100%; position:relative;display:inline-flex;margin-bottom:10px; }
.cs-menu .cs-li{position:relative; width:376px; height:200px; padding: 35px 20px 0; margin-right:2px;}
.cs-menu .cs-li1{background-color:#908ca5;}
.cs-menu .cs-li2{background-color:#978f8c;}
.cs-menu .cs-li3{margin-right:0px;}
.cs-menu .tit {margin-bottom:28px; padding-left:20px; color:#fff; font-weight:500;}
.cs-menu .shortcut {position:absolute; right:30px; top:40px; color:#fff;}
.cs-menu .shortcut:after{content: ''; position:absolute; top:50%; width:10px; height:10px;     border: 1px solid #fff; border-width:1px 1px 0 0; transform: translateY(-50%) rotate(45deg); z-index: 10;}
.cs-li .csMenu{display:table; width: 100%; table-layout: fixed; text-align: center;}
.cs-li .csMenu li{display:table-cell;}
.csMenu .icon_cs01:before {background-image:url(./images/ico_svc_1.svg);}
.csMenu .icon_cs02:before {background-image:url(./images/ico_svc_2.svg);}
.csMenu .icon_cs03:before {background-image:url(./images/ico_svc_3.svg);}
.csMenu [class^=icon_cs] {display:inline-block; height:80px; padding-top:55px; color:#fff; font-size:14px; text-align:center;}
.csMenu [class^=icon_cs]:before,
.csMenu [class^=icon_cs]:after {content:''; position:absolute; width:48px; height:48px; text-align: center; box-sizing:border-box;}
.csMenu [class^=icon_cs]:before {bottom:40%; background-repeat:no-repeat; background-position:center 10px; background-size:48px 48px; z-index:1; }
.csMenu .icon_cs03:before{left:73%;}
.cs-menu .cs-li3 .member{position:relative; padding: 0 60px 0 40px;}
.cs-menu .cs-li3 .member .tit{padding-left:0 !important; color:#5642bf; font-size:18px; font-weight:500;}
.cs-menu .cs-li3 .member p{color:#666; line-height: 1.5;}
.cs-menu .cs-li3 .member .btn_phone{display: inline-block; margin: 20px 0 0; padding: 15px 17px; border-color: #715deb;  border-radius: 2px; background-color: #715deb; font-size: 14px; font-weight: 300;}

/*******************
section03
*******************/
.section03{width:100%; background-color:#fafafa; margin:0 auto;}
.prd-wrap{position: relative; display:flex;}
.prd-wrap .side-prd{width:750px; margin-bottom:80px;}
.side-prd .prd-item:nth-child(odd){padding-top:65px; clear: both;}/***홀수만***/
.side-prd .prd-item{position:relative; float:left; width:345px;}
.side-prd .prd-item a{ width:288px; height:340px; padding:28px 45px 0; border: 1px solid #f1f1f1; background-color: #fff; box-shadow: 12px 12px 18px rgb(0 0 0/ 8%); line-height: 1.5; word-break: keep-all; font-weight: 500;}
.side-prd .prd-item .img{margin-left:-20px; margin-bottom:15px;}
.side-prd .prd-item .img img{width:96px; height:96px;}
.side-prd .prd-item .item{display:block; color:#5642fd; margin-bottom:10px; }
.side-prd .prd-item .desc{color:#222; font-size:20px;}
.side-prd .prd-item .prd-name{color:#666; font-weight:300; font-size: 17px; position:relative; margin-top:40px;}
.side-prd .prd-item .prd-name span:after{content: ''; position: absolute; top:9px; width:8px; height:8px; border:1px solid #666; border-width:1px 1px 0 0; background-color: transparent; overflow: hidden; transform: rotate(45deg);}
.prd-wrap .eventBanner{position: relative;}
.eventBanner .eventTit{font-size:30px; color:#222; font-weight: 600; letter-spacing: 0.03rem; line-height: 1.5; word-break: keep-all;}
.eventBanner .eventTit strong{position:relative; z-index: 1;}
.eventBanner .eventTit strong:after{content: '';position:absolute; left:-2px; right:-2px; top:30px; height:10px; background-color: #9b8df1; z-index:-1;}
.eventBanner .event-atit{width:360px; height:90px; padding: 5px 135px 5px 0; margin-top:55px; background: url(./images/bg_clover.gif) no-repeat right center; background-size: 150px 120px; font-size:16px; color:#666; line-height: 1.5; }
.eventBanner .event-atit span{font-size:18px; font-weight:500; color:#5642df; margin-top:13px; display:inline-block; position: relative;}
.eventBanner .event-atit span:after{content: ''; position:absolute; top:9px; width:8px; height:8px; border:1px solid #5642fd; border-width:2px 2px 0 0; background-color: transparent; transform: rotate(45deg); transition: all 0.25 ease-in-out; }
.eventBanner .event{width:410px; margin-top:95px;}

/*******************
section04
*******************/
.section04{width:100%; position:relative; margin:0 auto; background:url(./images/bg_photo.jpg) no-repeat center 0;  background-size:cover; padding:80px 0 ;}
.top-tit{font-size:32px; font-weight: 500; color:#fff; text-align: center;}
.since{position:relative; text-align:center; margin: 0 auto;}
.since .since-warp{display:flex;  justify-content: center; margin-top:50px; margin-bottom:30px; color:#fff;}
.since .since-warp .since-item:nth-child(1){margin-right:50px;}
.since .since-warp .since-item:nth-child(even){margin-right:50px;}
.since .since-warp .tit{display: block; font-size:16px; font-weight:500;}
.since .since-warp .number{margin-bottom:10px; font-size:48px; font-weight: 600; line-height:1.5;}
.since .since-warp .desc{display: block; font-size:16px; font-weight:400;}
.since button{width:170px; height:50px; padding:5px 20px; background-color:rgb(255,255,255, .30); border:1px solid rgb(255,255,255, .40); border-radius: 2px; font-size:16px; color:#fff; font-weight: 300;}
.notice{position:relative; margin-top:55px;  margin-bottom:30px; display: flex; justify-content: center; color:#666;}
.notice p{line-height: 1.5; font-size:16px;}
.notice .info-wrap,
.notice .notice-wrap
{width:50%; text-align: left; background-color: #fff; position: relative; padding:50px 40px; word-break: keep-all;}
.notice .info-wrap a,
.notice .notice-wrap a{color:#666;}
.notice .info-wrap .tit,
.notice .notice-wrap .tit{color:#222; font-size:20px; font-weight: 500; padding-right:100px; margin-bottom:50px;}
.notice .info-wrap{margin-right:20px;}
.notice button{ border-color:transparent; background-color: transparent;}
.play-btn{position:absolute; right:50px; top:50px;}
.play-btn .prv-bullet,
.play-btn .prv-bullet2,
.play-btn .stop-bullet{position: relative;}
.play-btn .prv-bullet:after{content: '';position: absolute; top:50%; left:50%; width:6px; height:6px; border:1px solid transparent; border-radius: 6px; background-color: rgba(102, 93, 207, .5);}
.play-btn .prv-bullet2:after{content: '';position: absolute; top:50%; left:50%; width:16px; height:5px; border:1px solid transparent; border-radius: 6px; background-color: rgba(102, 93, 207, 10);}
.play-btn .stop-bullet:before,
.play-btn .stop-bullet:after {content:''; position:absolute;  top:50%; left:50px; width:3px; height:10px; background-color:#665dcf;}
.play-btn .stop-bullet:after {left:11px; right:3px; top:-2px;}
.play-btn .stop-bullet:before{left:6px;top:-2px;}
.s-btn{position:absolute; right:50px; top:50px;}
.s-btn .prv:after{content: '';position:absolute; left:50%; top:50%;   width:10px; height:10px; border: 1px solid #222;     border-width: 0 0 1px 1px; background-color: transparent; transform: translate(-50%, -50%) rotate(45deg); }
.s-btn .nxt:after{content: '';position:absolute; left:50%; top:20%;   width:10px; height:10px; border: 1px solid #222;     border-width: 1px 1px 0 0; background-color: transparent; transform: rotate(45deg); margin-left:15px; }


/**********************
footer
***********************/ 
footer {position:relative;  width:100%; background-color:#fff; color:#666; overflow: hidden; }
footer .inner{ width:1136px; margin:0 auto;padding:20px 0;}
footer a{color:#666;}
footer .f-drop {position:relative; background-color:#f8f8f8;  border-top:1px solid #eee; border-bottom:1px solid #eee; }
footer .f-drop .drop-wrap{width:1136px; margin:0 auto;}
footer .f-drop .cs-list{width:100%; height:100%;}
footer .f-drop .cs-list li{height:100%; display: inline-block; padding:6px 0; font-size: 0; width:24%; border-left:1px solid #eee;}
footer .f-drop .cs-list li:last-child{border-right:1px solid #eee;}
footer .f-drop .cs-list li a{width:100%;font-size:15px; color:#333; padding:15px 20px; box-sizing: border-box;}
footer .f-drop .cs-list li .op{position:absolute; font-size: 0; height:15px;}
footer .f-drop .cs-list li .op:after {content: '';position:absolute; left:170px; top:50%; margin-top:5px; border-width:0 0 1px 1px; transform:translate(-50%, -50%) rotate(-225deg);}
footer .f-drop .cs-list li .op:after {width: 9px; height: 9px;border: 1px solid #222;  border-width: 0 0 2px 2px; transition: transform 0.25s; box-sizing: border-box;}
footer .f-drop .cs-list li .op.op-f:after{left:140px;}
footer .f-info-wrap {display:table-cell; padding-top:5px; vertical-align:top; overflow:hidden;}
footer .info-group {margin:0;}
footer .info-group .life-logo {display:inline-block; width:120px; height:27px; margin-right:16px; vertical-align:middle;}
footer .info-group .life-logo img {width:100%; height:auto;}
footer .info-group .link {margin:3px 17px; color:#222 !important; font-size:15px;}
footer .info-group .link:before {left:-19px; top:15px; width:3px; height:3px; border:0; border-radius:50%; background-color:#666; z-index:-1;}
footer .info-group .link span {color:#5642bf; font-weight:500;}
footer .number {margin-top:15px;}
footer .number a{color:#222;}
footer .number span { position:relative; padding:1px 21px 1px 2px; color:#222; font-weight:500;}
footer .address {margin-top:5px; font-size:13px;}
footer .address img {vertical-align:middle;}
footer .address span {display:inline-block; position:relative; padding:1px 15px 1px 0; }
footer .number span:after,
footer .address span:after {content:''; position:absolute; left:-10px; top:5px; bottom:4px; width:1px; background-color:#ddd;}
footer .address span:after{top:1px; height:13px;}
footer .copyright {margin:6px 0 0; font-size:13px;}
footer .side-info{display:table-cell; width:25%; text-align:right;}
footer .side-info .site-group a{position:relative; width:175px; border-bottom:2px solid #222; color:#222; font-size:15px; line-height: 3; text-align: left;}
footer .side-info .site-group .op:after{content: ''; position: absolute; right:3px; top:15px; width:8px; height:8px; border:1px solid #222; border-width: 1px 0 0 1px; background-color: transparent; transform: rotate(-135deg);}
footer .side-info .awards{margin-top:20px;}
footer .side-info .awards:nth-child(1),
footer .side-info .awards:nth-child(even){margin-right:10px;}




